header h1{
    text-align: center;
}
/* put the time to second line as block */
header h1 span{
    font-size: medium;
    display: block;
}
/* Current conditions title */
#current > h3{
    font-size: medium;
}
/* dailycard includes the current and 7 day card section blocks */
.daylycard{
    margin: 20px;
    display: none;
}
/* 7 day forcast cards */
.sevenday{
    margin: 2px;
    padding: 20px;
}
.sevenday h3{
    font-size: large;
}
.sevenday h4{
    font-size: medium;
}

